<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
  <section>
    <H1>Café Uruguay</H1>

    <h2>Elige tu método</h2>
    <ul class="methods">

      <li class='method'>
        <img src="../assets/images/aeropress.item.jpg" alt="Foto de Juan N. Gomez en Pexels">
      </li>

      <li class='method moka'>
        <img src="../assets/images/moka.item.jpg" alt="Foto de Gary Barnes en Pexels">
      </li>

      <li class='method v60'>
        <img src="../assets/images/v60.item.jpg" alt="Foto de Gary Barnes en Pexels">
      </li>

      <li class='method french'>
        <img src="../assets/images/french.item.jpg" alt="Foto de Los Muertos Crew en Pexels">
      </li>


    </ul>

    
  </section>
</body>
</html>
